<div class="navigation-bar">
    <div class="navigation-bar__left">
        <a href="/"></a> <span class="icon-button--quiet navigation-bar__line-height">Exercise </span></a>
    </div>
    <div class="navigation-bar__center">
        <span class="navigation-bar__title navigation-bar__line-height">Timings </span>
    </div>
    <div class="navigation-bar__right">
        <span class="icon-button--quiet navigation-bar__line-height font-weight-500">You </span>
    </div>
</div>

<br>

<div class="width-80-wrapper">

    <ul class="list">
        <li class="list__item list__item__line-height">
            <span class="list-item-count">
              {{exerciseDuration.count}}s
            </span>
            <span class="list-item-title">Exercise</span>
            <span class="list-item-comment">How long each exercise will last</span>
            <span class="list-item-action">
                <i class="fa fa-plus-square" data-ng-click="exerciseDuration.increment(1)"></i>
                <i class="fa fa-minus-square" data-ng-click="exerciseDuration.decrease(1)"></i>
            </span>
        </li>
        <li class="list__item list__item__line-height">
            <span class="list-item-count">
              {{exerciseBreak.count}}s
            </span>
            <span class="list-item-title">Break</span>
            <span class="list-item-comment">This is rest between exercises</span>
            <span class="list-item-action">
                <i class="fa fa-plus-square" data-ng-click="exerciseBreak.increment(1)"></i>
                <i class="fa fa-minus-square" data-ng-click="exerciseBreak.decrease(1)"></i>
            </span>
        </li>
        <li class="list__item list__item__line-height">
            <span class="list-item-count">
              {{exerciseRepeat.count}}
            </span>
            <span class="list-item-title">Repeat</span>
            <span class="list-item-comment">How many times each exercise will be completed</span>
            <span class="list-item-action">
                <i class="fa fa-plus-square" data-ng-click="exerciseRepeat.increment(1)"></i>
                <i class="fa fa-minus-square" data-ng-click="exerciseRepeat.decrease(1)"></i>
            </span>
        </li>
    </ul>

    <br class="clear-both">
    <br>
    <br>
    <button class="button login-button">Start</button>
</div>